html{
    background-color: antiquewhite;
}

h1{
    display: inline;
    font: 2rem sans-serif;
}

.MainControls, .GameControls {
    display: inline;
}

#Start, #Stop, #DrawCard, #StayHere {
    border: solid darkred 3px;
    border-radius: 15px;
    background-color: darkred;
    color: white;
}