html{
    background-color: antiquewhite;
}

h1{
    display: inline;
    font: 2rem sans-serif;
}

.MainControls, .GameControls {
    display: inline;
    
}

#Start, #Stop, #DrawCard, #StayHere {
    
}